@import url('https://fonts.googleapis.com/css?family=Work+Sans');
h1,
p {
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.8);
}

body {
  padding: 0px;
  margin: 0px;
}
