@keyframes draw {
  0% {
    height: 0;
  }
}
span:after {
  position: absolute;
  color: rgba(0, 0, 0, 0.8);
  left: 0;
  right: 0;
  top: 100%;
  padding: 5px 1em 0;
  display: block;
  text-align: center;
  content: attr(title);
  word-wrap: break-word;
}
